<div class="flight-card">
  <div class="flight-route"><%= flight.from_airport.code %> → <%= flight.to_airport.code %></div>
  <div class="flight-date"><%= flight.start_date %></div>
  <div class="flight-departure"><%= flight.start_time %></div>
  <div class="flight-duration"><%= flight.readable_duration %></div>
</div>
