<% unless @flights.nil? %>
  <% if @flights.length > 0 %>
    <% @flights.each do |f| %>
      <div class="flight-card">
        <div class="flight-route"><%= f.from_airport.code %> → <%= f.to_airport.code %></div>
        <div class="flight-date"><%= f.start_date %></div>
        <div class="flight-departure"><%= f.start_time.strftime('%I:%M%p') %></div>
        <div class="flight-duration"><%= f.readable_duration %></div>
      </div>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
<% end %>
