<% unless @flights.nil? %>
  <% if @flights.length > 0 %>
    <% @flights.each do |flight| %>
      <div class="flight-card">
        <div class="flight-route"><%= flight.from_airport.code %> → <%= flight.to_airport.code %></div>
        <div class="flight-date"><%= flight.start_date %></div>
        <div class="flight-departure"><%= flight.start_time.strftime('%I:%M%p') %></div>
        <div class="flight-duration"><%= flight.readable_duration %></div>
      </div>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
<% end %>
